* {
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}

#c{
    position: absolute;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Custom';
    src:url("../public/LiberationSans.ttf");
    font-weight: normal;
    font-style: normal
}