* {
    margin: 0;
    padding: 0;
}

html, body{
    overflow: hidden;
}

#c{
    width: 100%;
    height: 100%;
}

#scoreText{
    position: absolute;
    background-color: aqua;
    font-size: 10vw;
    font-family: Custom;
    top: 2vw;
    border-radius: 10px;
    outline: 10px;
    border: 4px solid #f399f8;
    display: inline-block;
    padding: 5px;
    background-color: white;
}

@font-face {
    font-family: 'Custom';
    src:url("../public/LiberationSans.ttf");
    font-weight: normal;
    font-style: normal
}